<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<config>
    <img_path>/Users/gregor/Desktop/Tensorflow_ObjD/car.jpg</img_path>
    <ts_path>/Users/gregor/Desktop/Tensorflow_ObjD/src/main/resources/model</ts_path>
    <setting1>false</setting1>
    <setting2>false</setting2>
    <setting3>false</setting3>
    <setting4>false</setting4>
</config>
